<% if @game.player_1.hp == 0 %>
<%= @game.player_2.name %> Wins! Wins!
<% elsif @game.player_2.hp == 0 %>
<%= @game.player_1.name %> Wins!
<% else %>
  <% if @game.counter.even? %>
  <%= @game.player_1.name %> attacks <%= @game.player_2.name %>
  <% else %>
  <%= @game.player_2.name %> attacks <%= @game.player_1.name %>
  <% end %>
  <form action="/play" method="get">
    <input type="submit" value="Return to game">
  </form>
<% end %>
